<div class='menuItems'>
<div class='menuHeader'>MENU</div>
<ul class='caMenu'>
	<li class='caMenuItem sectionMenu' data-category='installed_apps'>Installed Apps</li>
	<li class='caMenuItem sectionMenu' data-category='previous_apps'>Previous Apps</li>
	<li class='caMenuItem sectionMenu' data-category='pinned_apps'>Pinned Apps</li>
</ul>
<div class='menuHeader'>CATEGORIES</div>
<ul class='caMenu'>
	<li class='startupButton caMenuItem' data-category='onlynew'>New Apps</li>
	<li class='startupButton caMenuItem' data-category='new'>Updated Apps</li>
	<li class='startupButton caMenuItem' data-category='random'>Random Apps</li>
	<li class='startupButton caMenuItem' data-category='topperforming'>Top Performing</li>
	<li class='startupButton caMenuItem' data-category='trending'>Trending Apps</li>
</ul>
<ul class='caMenu'>
	<span id='category_list'></span>
	<li class='categoryMenu caMenuItem' data-category='All'>All Apps</li>
</ul>
<div class='menuHeader'>OTHER</div>
<ul class='caMenu caRelated'>
	<li class='caMenuItem' onclick='window.location="/Apps/ca_settings"'>Settings</a></li>
	<li class='caMenuItem' onclick='disableSort();scrollToTop();showStatistics();'>Statistics</li>
	<li class='caMenuItem' onclick='disableSort();scrollToTop();showCredits();'>Credits</li>
	<li class='caMenuItem'><a class='caMenuItem' href='https://forums.unraid.net/topic/38582-plug-in-community-applications/' target='_blank' style='text-decoration:none;color:inherit;'>Support</a></li>
	</ul>
<div class='menuHeader'>VERSION</div>
<ul class='nonselectMenu'>
	<li><span id='caInstalledVersion'></span></li>
	<li class='caMenuItem caChangeLog'>Change Log</li>
</ul>
 <br><br><br>
</div>
<br>
</span><br>
<div class='mainArea'>
<div class='spinner fixed'></div>
<div class='multi_installDiv'><div class='ca_center'><input class='multi_install multi_installButton' type='button' value='Install Selected Applications' disabled><input type='button' class='multi_installClear' value='Clear Selected' disabled></div></div>
<strong><font size='3'></strong></font>
<div class='dockerSearch' style='display:none'><div class='ca_center'><i class='fa fa-docker initDockerSearch' style='font-size:5rem;color:DarkCyan;cursor:pointer;'></i><br><a class='initDockerSearch' style='cursor:pointer;'>Click Here To Get More Results From DockerHub</a></div></div>
<div id='templates_content'><div class='ca_templatesDisplay'><font size='6'>Updating Content</font></div></div>
<div class='multi_installDiv'><div class='ca_center'><input class='multi_install multi_installButton' type='button' value='Install Selected Applications' disabled><input type='button' class='multi_installClear' value='Clear Selected' disabled></div></div>
</div>
</div>
<span id='debugging'></span>
<span id='caCredits' style='display:none;'>
	<div style='overflow:scroll;overflow-x:hidden; overflow-y:auto;margin:auto;width:600px;padding-bottom:50px;'>
		<center><table style='margin-left:auto;padding-top:0px;margin-top:0px;'>
		<tr>
			<td colspan='3'><div class='ca_center'><i class='fa fa-users' style='font-size:5rem;margin-top:2rem;'></i></div></td>
			</tr>
			<tr>
				<td colspan='3'><div class='ca_center'><font size='5'>Community Applications</font></div></td>
			</tr>
			<tr>
				<td class='ca_credit'><img src='https://github.com/Squidly271/community.applications/raw/master/webImages/Webp.net-resizeimage%20(1).png' style='width:5rem;height:4.8rem;'></td>
				<td class='ca_credit'><font size='4.0rem;'><span class='ca_italic ca_bold'>Andrew Zawadzki</span></font></strong></td>
				<td><font size='4.0rem;'><span class='ca_italic ca_bold'>Main Development</span></font></td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>bonienl<br>eschultz</td>
				<td class='ca_credit'>Additional Contributions</td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>Mex</td>
				<td class='ca_credit'>GUI Layout Design</td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>Andrew Zawadzki<br>Kode<br>Limetech</td>
				<td class='ca_credit'>Application Feed</td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>CHBMB<br>SpaceInvaderOne<br>Sparklyballs<br>wgstarks<br>DJoss<br>Zer0Nin3r<br>Mex<br>prostuff1<br>bonienl<br>ljm42<br>kizer<br>trurl</td>
				<td class='ca_credit'>Additional Testing</td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>dockerPolice<br>pluginCop</td>
				<td class='ca_credit'>Moderation</td>
			</tr>
			<tr>
				<td colspan='3' class='ca_credit'><div class='ca_center'><font size='3'>Additional Libraries</font><br><font size='0'>(All licenced under MIT licence)</font></div></td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>Lea Verou</td>
				<td class='ca_credit'>Awesomeplete</td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>Chart.js Contributors</td>
				<td class='ca_credit'>Chart.js</td>
			</tr>
			<tr>
				<td></td>
				<td class='ca_credit'>Miles Johnson</td>
				<td class='ca_credit'>XML2Array<br>Array2XML</td>
			</tr>
		</table></center>
		<br>
		<div class='ca_center ca_italic'><font size='1rem;'>Copyright &copy; 2015-2019 Andrew Zawadzki</font></div>
		<div class='ca_center'><a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7M7CBCVU732XG' target='_blank'><img src='https://github.com/Squidly271/community.applications/raw/master/webImages/donate-button.png' style='height:2.5rem;'></a></div>
		<div class='ca_center'>Ensuring only safe applications are present is a full time job</div>
	</div>
</span>