Menu="Apps"
Icon="community.applications.png"
Title="Community Applications"
Tag="users"
---
<?
###############################################################
#                                                             #
# Community Applications copyright 2015-2019, Andrew Zawadzki #
#                    All Rights Reserved                      #
#                                                             #
###############################################################
$plugin = "community.applications";

require_once "/usr/local/emhttp/plugins/$plugin/include/paths.php";
require_once "/usr/local/emhttp/plugins/$plugin/include/helpers.php";

$cfg = parse_plugin_cfg($plugin);
if ( ! is_file($caPaths['warningAccepted']) ) {
	$firstRun = "true";
}
$unRaidSettings = parse_ini_file($caPaths['unRaidVersion']);
$unRaid66 = version_compare($unRaidSettings['version'],"6.5.3",">");
$unRaid68 = version_compare($unRaidSettings['version'],"6.7.9",">");

if ( is_file($caPaths['addConverted']) ) {
	$dockerConvertFlag = "true";
}
$date = (date("n/d"));
?>
<link type='text/css' rel='stylesheet' href="<?=autov("/plugins/$plugin/skins/Narrow/css.php")?>" >
<script src='<?autov("/plugins/community.applications/javascript/libraries.js")?>'></script>
<script>
var URL = "/plugins/<?=$plugin?>/include/exec.php";
var last = $('input[name$="tabs"]').length;
var searchBoxInput;
var searchBoxAwesomplete;
var pluginInstallIntervalTimer;

var data = new Object();
data.docker = "";
data.section = "AppStore";
data.selected_category = "";
data.subcategory = "";
data.selected_subcategory = "";
data.selected = "";
data.lastUpdated = 0;
data.nextpage = 0;
data.prevpage = 0;
data.currentpage = 1;
data.searchFlag = false;
data.searchActive = false; // Sets whether changepage re-sorts the displayed templates.
var dockerSearchFlag = false;
var dockerNotEnabled;
var postCount = 0;
var cookieWarning = false;
var dockerWarningAdded = false;
var backupServerWarning = false;
var restoreStateMenu = false;

$(function(){
	caPluginUpdateCheck("community.applications.plg",{
			noDismiss:true,
			name:"Community Applications",
			debug:false,
			priority:true
		},function(result) {
			var result = JSON.parse(result);
			$("#caInstalledVersion").html(result.installedVersion);
		}
	);

	$("#title").append('<div id="Category" class="categoryLine ca_italic"></div>');
	$("#title").append("<div class='searchArea'><span id='sortIconArea' style='display:none;'><i class='sortIcons fa fa-sort-alpha-asc enabledIcon ca_staticTips' title='Sort By Name Ascending' data-sort='nameUp'></i><i class='sortIcons fa fa-sort-alpha-desc ca_staticTips' title='Sort By Name Descending' data-sort='nameDown'></i><i class='sortIcons fa fa-sort-numeric-desc ca_staticTips' title='Sort By Downloads' data-sort='downloadsDown'></i><i class='sortIcons fa fa-sort-amount-desc ca_staticTips' title='Sort By Trend' data-sort='trendDown'></i><i class='sortIcons fa fa-calendar ca_staticTips' title='Sort By Date Added' data-sort='firstSeenDown'></i></span><span id='sortIcon' class='fa fa-sort ca_toolsView disabledIcon'> <span class='fa-sort-alpha-asc'></span></span>&nbsp;<span id='searchFilter' class='status' style='margin-top:-1rem;'><input type='text' id='searchBox' placeholder='Search' autofocus><button class='searchSubmit' style='margin-right:10px' onclick='doSearch(true)'><i id='searchButton' class='fa fa-search fa-lg'></i></button></div>");

	searchBoxInput = document.getElementById("searchBox");
	searchBoxAwesomplete = new Awesomplete(searchBoxInput);

	if ( "<?=$date?>" == "5/28" )  addBannerWarning("Happy Birthday CA! <i style='float:initial;cursor:initial;' class='fa fa-birthday-cake'></i>",false);
	if ( "<?=$date?>" == "12/24" ) addBannerWarning("<i style='float:initial;cursor:initial;' class='fa fa-snowflake-o'></i> Happy Holidays from Andrew, Tracey, and family <i style='float:initial;cursor:initial;' class='fa fa-snowflake-o'></i>",false);
	if ( "<?=$date?>" == "12/25" ) addBannerWarning("<i style='float:initial;cursor:initial;' class='fa fa-snowflake-o'></i> Happy Holidays from Andrew, Tracey, and family <i style='float:initial;cursor:initial;' class='fa fa-snowflake-o'></i>",false);
	if ( "<?=$date?>" == "1/01" )  addBannerWarning("Happy New Years!",false);
	if ( "<?=$date?>" == "12/31" ) addBannerWarning("Happy New Years Eve <i style='float:initial;cursor:initial;' class='fa fa-beer'></i> Please Enjoy Responsibly",false);

	$('.ca_toolsView').tooltipster({
		trigger: 'hover',
		delay: [1000,0],
		animation: 'fade',
		triggerClose: {mouseleave:true},
		functionBefore: function(instance,helper){
			if ( isIconEnabled("#sortIcon") ) {
				instance.content("Sorting options");
			} else {
				instance.content("Sorting options unavailable");
			}
		}
	});

	$('.ca_staticTips').tooltipster({
		contentAsHTML:true,
		delay:[1000,1],
		timer:15000,
		animation:'none',
		arrow:true,
		trigger:'custom',
		triggerOpen:{mouseenter: true, hover: true},
		triggerClose:{click:true,scroll:true,mouseleave:true}
	});

	$("#searchBox").keydown(function(e) {
		if (e.which === 13) {
			doSearch();
		}
	});

	$('.caChangeLog').on("click",function() {disableSort();scrollToTop();caChangeLog();});
	$('.mainArea').on("click",'.ca_multiselect',function() {enableMultiInstall();});
	$('.mainArea').on("click",".ca_appPopup",function() {
		var appnumber = $(this).data("appnumber");
		var apppath = $(this).data("apppath");
		var appname = $(this).data("appname");
		appname = stripTags(appname);
		showDesc_openBox("/plugins/community.applications/scripts/showDesc.php?appNumber="+appnumber+"&appPath="+apppath+"&appName="+appname+"'",appname,450,650,true,"checkForPluginInstallRequested()");
	});

	$('.mainArea').on("click",".unpinned,.pinned",function() {
		var repository = $(this).data("repository");
		var name = $(this).data("name");
		pinApp(this,repository,name);
	});

	$('.mainArea').on("click",".xmlInstall",function() {
		var type = $(this).data("type");
		var xml = $(this).data("xml");
		xmlInstall(type,xml);
	});
	
	$('.menuItems').on("click",'.categoryMenu',function() {
		scrollToTop();
		changeCategory(this,false);
	});
	$('.menuItems').on("mouseover",".caMenuItem",function() {
		$(this).addClass("hoverMenu");
	});
	$('.menuItems').on("mouseleave",".caMenuItem",function() {
		$(this).removeClass("hoverMenu");
	});
	$('.menuItems').on("click",".caMenuItem",function() {
		if ( $(this).hasClass("selectedMenu") ) {
			return;
		}
		if ( ! $(this).parent().hasClass("subCategory") ) {
			$(".subCategory").hide();
		}
		$(".caMenuItem").removeClass("selectedMenu");
		$(this).addClass("selectedMenu");
		$(this).next().show();
	});

	$(".sectionMenu").on("click",function() {
		var section = $(this).attr("data-category");
		switch (section) {
			case "installed_apps":
				previousApps(true);
				break;
			case "previous_apps":
				previousApps(false);
				break;
			case "pinned_apps":
				pinnedApps();
				break;
		}
	});

	$(".initDockerSearch").click(function()     { initDockerSearch(); });
	$(".multi_installButton").click(function()  { installMulti(); });
	$(".multi_installClear").click(function()   { clearMultiInstall(); });
	$(".startupButton").click(function()        { updateContent(this); });
	$("#sortIcon").click(function() {
		if ( isIconEnabled("#sortIcon") ) {
			$("#sortIconArea").toggle("slow");
		}
	});
	$(".sortIcons").click(function() {
		enableSortIcon(this);
		data.currentpage = 1;
		data.searchActive = false;
		changeSortOrder();
		$("#sortIconArea").toggle("slow");
		var classList = $(this).attr('class').split(/\s+/);
		$.each(classList, function(index, item) {
			if ( item.startsWith("fa-") ) {
				$("#sortIcon").html("&nbsp;<span class="+item+"></span>");
			}
		});
	});

<?if ( ! $unRaid66 ):?>
	$("html").css("font-size","10px");
<?endif;?>
	/* Everything is now initialized.  This is the start of the actual "real" code */
	if ( "<?=$firstRun?>" == "true" ) {
		swalBackground("white");
		swal({
			title: 'Disclaimer',
			text: 'All applications listed here are <span class="ca_bold">3rd party</span> additions to unRaid.  Neither the authors of Community Applications nor Limetech make any warranty as to the suitability of any application listed here. <br><span class="ca_italic"><font color="green">Every attempt is made to ensure that only safe and compatible applications are present</font></span><font size=0><br>Note: if your flash drive is corrupted you may also see this message and it will need to be fixed first</font>',
			html: true,
			type: 'warning',
			showCancelButton: true,
			showConfirmButton: true,
			confirmButtonText: 'I Understand'
		}, function (isConfirm) {
			if ( isConfirm ) {
				post({action:'dismiss_warning'},function(result) {
					location.reload();
				});
			} else {
				addBannerWarning("Installations of apps disabled.  You must accept the warning to be able to install applications.  Click <a onclick='window.location.reload();' style='cursor:pointer;'>HERE</a>",true,true);
				updateContent();
			}
		});
	} else {
		if ( (document.referrer.indexOf("/Apps/") > 1) && ( document.referrer.indexOf("/Apps/ca_settings") < 1 ) && cookiesEnabled() && ("<?=$dockerConvertFlag?>" != "true") ) {
			restoreState();
			refreshDisplay();
		} else {
			updateContent();
		}
	}
});

function disableSort() {
	hideSortIcons();
	enableIcon("#sortIcon",false);
}
function hideSortIcons() {
	$("#sortIconArea").hide("slow");
}

function updateContent(button) {
	hideSortIcons();
	clearSearchBox();
	clearCategory();
	$(".caMenuItem").removeClass("selectedMenu");
	$(".subCategory").hide();

	startupScreen = $.cookie("ca_startupButton") ? $.cookie("ca_startupButton") : "onlynew";
	$(".caMenuItem[data-category='"+startupScreen+"']").addClass("selectedMenu");

	startupScreen = button ? $(button).data("category") : startupScreen;
	$.cookie("ca_startupButton",startupScreen,{expires:365});
	$.cookie("ca_selectedMenu",startupScreen,{expires:365});
	disableSearch();

	post({action:'force_update'}, function(result) {
		if ( $.cookie("ca_plugininstallpending" || ! button ) ) {
			var plugins = $.cookie("ca_plugininstallpending");
			$.removeCookie("ca_plugininstallpending");
			myCloseAlert();
			openBox('/plugins/<?=$plugin?>/scripts/installMultiPlugin.sh&arg1='+plugins,'Install Plugin Applications',600,900,true);
		} else {
			if ( result.data ) {
				updateDisplay(result.data);
			} else {
				data.searchActive = true;
				getContent(true,'INITIALIZE',"","",startupScreen);
			}
		}
		getCategories();
	});
}

function enableSortIcon(icon) {
	$(".sortIcons").removeClass("enabledIcon");
	$(icon).addClass("enabledIcon");
}

function enableIcon(icon,enable) {
	enable = (enable == "false") ? false : enable;
	$(icon).each(function() {
		$(this).removeClass("enabledIcon disabledIcon");
		var newClass = enable ? "enabledIcon" : "disabledIcon";
		$(this).addClass(newClass);
	});
}

function isIconEnabled(icon) {
	return $(icon).hasClass("enabledIcon");
}

function stripTags(string) {
	return string.replace(/(<([^>]+)>)/ig,"");
}

function setToolTip() {
	$('.ca_tooltip').tooltipster({
		contentAsHTML:true,
		delay:[1000,1],
		timer:15000,
		animation:'none',
		arrow:true,
		trigger:'custom',
		triggerOpen:{mouseenter: true},
		triggerClose:{click:true,scroll:true,mouseleave:true}
	});
	$('.ca_tooltip-warning').tooltipster({
		contentAsHTML:true,
		interactive:true,
		trigger:'custom',
		triggerOpen:{click: true, mouseenter: true},
		triggerClose:{click:true,scroll:true,mouseleave:true}
	});
}

// Wait for the showDesc modal to close before opening another to install plugin
function checkForPluginInstallRequested() {
	var pluginURL = $.cookie("ca_installPluginURL");
	if ( pluginURL ) {
		pluginInstallIntervalTimer = setInterval(modalPluginInstall,100);
	}
}

function modalPluginInstall() {
	if ( ! $("#sb-container").is(":visible") ) {
		clearInterval(pluginInstallIntervalTimer);
		var pluginURL = $.cookie("ca_installPluginURL");
		$.removeCookie("ca_installPluginURL");
		installPlugin(pluginURL);
	}
}

function showSpecialCategory(button) {
	$(".caMenuItem").removeClass("selectedMenu");
	$(".multi_installDiv").hide();
	data.selected_category = "DOESNTMATTERWHATSHERE";
	data.section = "AppStore";
	changeCategory(button,false);
}

function changeCategory(button,subSwitch) {
	var description = $(button).text();
	var category = $(button).attr("data-category");
	data.searchActive = false;
	clearSearchBox();
	hideSortIcons();
	clearCategory();
	$(".multi_installDiv").hide();
	getContent(false,category,description,false);
}

function changePage(pageNumber) {
	var sortOrder = getSortOrder();
	if ( data.searchActive ) {
		sortOrder = [["sortBy","noSort"]];
	}
	var selected = data.selected;
	data.currentpage = pageNumber;

	var oldHeight = $(".ca_templatesDisplay").height();
	$(".ca_templatesDisplay").css("height",oldHeight);
	hideSortIcons();
	post({action:'display_content',sortOrder:sortOrder,pageNumber:pageNumber,selected:selected},function(result) {
		updateDisplay(result.display);
		$(".ca_templatesDisplay").css("height","auto");
	});
}

function swalBackground(color) {
	$(".sweet-alert").css("background-color",color);
}

function myAlert(description,textdescription,textimage,imagesize, outsideClick, showCancel, showConfirm, alertType) {
	swalBackground("white");
	if ( !outsideClick ) outsideClick = false;
	if ( !showCancel )   showCancel = false;
	if ( !showConfirm )  showConfirm = false;
	if ( imagesize == "" ) { imagesize = "80"; }
	disableSearch();

	swal({
		title: description,
		text: textdescription,
		allowOutsideClick: outsideClick,
		showConfirmButton: showConfirm,
		showCancelButton: showCancel,
		type: alertType,
		animation: false,
		html: true
	});
}

function mySpinner() {
	$("div.spinner").show();
	swalBackground("transparent");
	swal({
		title: "",
		text: "",
		allowOutsideClick: false,
		showConfirmButton: false,
		showCancelButton: false,
		animation: false,
		html: true
	});
	swalBackground("transparent"); // Occasional race condition where swal is not initialized at time the initial background change happens

}
function myCloseSpinner() {
	swal.close();
	$("div.spinner").hide();
}

function myCloseAlert() {
	swal.close();
	swalBackground("transparent");
	enableSearch();
}

function doSearch(button,newSearch) {
	searchBoxAwesomplete.close();
	hideSortIcons();

	if ( ! newSearch === false ) {
		$('#searchBox').val(newSearch);
	}
	var filter = $('#searchBox').val();
	if ( button && ! filter) {
		$("#searchBox").attr("placeholder","Please enter search term");
		return;
	} else {
		$("#searchBox").attr("placeholder","Search");
	}
	data.docker = "";
	data.section = "AppStore";
	filter = filter.replace(/[^a-z0-9-]/gi,' ')
	filter = $.trim(filter);
	$('#searchBox').val(filter);
	$(".multi_installDiv").hide();

	if ($('#searchButton').hasClass('fa-search')) {
		if (filter) {
			$('#searchButton').toggleClass('fa-search fa-remove');
		}
	} else if (button) {
		clearSearchBox();
		filter = '';
	} else {
		if (!filter) {
			return;
		}
	}

	scrollToTop();
	if (filter) {
		$("#Category").html("Search for "+filter);
		enableIcon("#sortIcon",true);
		data.searchFlag = true;
	} else {
		updateContent();
		data.searchFlag = false;
		return;
	}
	data.searchActive = true;
	var sortOrder = getSortOrder();
	if ( "<?=$cfg['dockerSearch']?>" == "yes" && ! dockerNotEnabled) {
		$('.dockerSearch').show();
	}
	post({action:'get_content',filter:filter,sortOrder:sortOrder},function(result) {
		enableButtons();
		updateDisplay(result.display);
		data.section = "AppStore";
		$(".selectedMenu").removeClass("selectedMenu");
		$(".subCategory").hide();
	});
}

function enableButtons() {
	data.selected_category = "";
}

function refreshDisplay() {
	changeSortOrder(null,null,null);
}

function changeSortOrder(button,buttonClass,previousApps) {
	var pageNumber = data.currentpage;
	var selected = data.selected;
	var sortOrder = getSortOrder();
	var startup = false;
	if ( button || buttonClass || previousApps) {
		data.searchActive = false;
	}
	if ( data.searchActive ) {
		sortOrder = [["sortBy","noSort"]];
	}
	$(".startupButton").each(function(){
		if ($(this).hasClass("selectedMenu")) {
			startup = "true";
		}
	});
	post({action:'display_content',sortOrder:sortOrder,pageNumber:pageNumber,selected:selected,startup:startup},function(result) {
		updateDisplay(result.display);
	});
}

function getSortOrder() {
	var sortOrder = new Object();

	$(".sortIcons").each(function() {
		if ( isIconEnabled(this) ) {
			switch ( $(this).data("sort") ) {
				case 'nameUp':
					sortOrder.sortBy = ["sortBy","Name"];
					sortOrder.sortDir = ["sortDir","Up"];
					break;
				case 'nameDown':
					sortOrder.sortBy = ["sortBy","Name"];
					sortOrder.sortDir = ["sortDir","Down"];
					break;
				case 'downloadsDown':
					sortOrder.sortBy = ["sortBy","downloads"];
					sortOrder.sortDir = ["sortDir","Down"];
					break;
				case 'trendDown':
					sortOrder.sortBy = ["sortBy","trending"];
					sortOrder.sortDir = ["sortDir","Down"];
					break;
				case 'firstSeenDown':
					sortOrder.sortBy = ["sortBy","FirstSeen"];
					sortOrder.sortDir = ["sortDir","Down"];
					break;
			}
		}
	});
	if ( ! sortOrder.sortBy ) {
		if ( ! isIconEnabled("#sortIcon")) {
			sortOrder.sortBy = ["sortBy","noSort"];
		} else {
			sortOrder.sortBy = ["sortBy","Name"];
			sortOrder.sortDir = ["sortDir","Up"];
			var sortIcon = $.find(".sortIcons[data-sort='nameUp']");
			$(sortIcon).addClass("enabledIcon");
		}
	}
	return [sortOrder.sortBy,sortOrder.sortDir];
}

function getContent(init,category,description,newApp,startupDisplay) {
	data.currentpage = 1;
	var initialize;

	enableSearch();
	enableIcon("#sortIcon", ! init);

	if ( category != "NONE" ) {
		if ( category == "INITIALIZE" ) {
			initializeAppStore();
			category = "NONE";
			initialize = true;
			enableButtons();
		}
		if ( (category == "New") || (category == "All") ) { category = ""; }

		data.searchActive = false;
		var sortOrder = getSortOrder();

		post({action:'get_content',category:category,newApp:newApp,sortOrder:sortOrder,startupDisplay:startupDisplay},function(result) {
			updateDisplay(result.display);

			if ( initialize ) {
				populateAutoComplete();
			}
		});
	}
	$('.dockerSearch').hide();
}

function populateAutoComplete() {
	post({action:'populateAutoComplete'},function(result) {
		var test = JSON.stringify(result.autocomplete);
		searchBoxAwesomplete.list = test.replace(/\"/g,"");
		searchBoxAwesomplete.maxItems = 20;
		Awesomplete.$('#searchBox').removeEventListener('awesomplete-selectcomplete',awesompleteSearch);
		Awesomplete.$('#searchBox').addEventListener('awesomplete-selectcomplete',awesompleteSearch);
	});
}

function awesompleteSearch() {
	doSearch(false);
}

function mySearch(filter) {
	filter = filter.replace(/<(?:.|\n)*?>/gm, '');
	$('#searchBox').val(filter);

	if ( $("#searchButton").hasClass('fa-search') ) {
		$('#searchButton').toggleClass('fa-search fa-remove');
	}
	initDockerSearch(1);
}

function initDockerSearch() {
	dockerSearch(1);
	data.docker = "searching docker";
	data.section = "";
	data.selected_category = "";
	$(".selectedMenu").removeClass("selectedMenu");
	hideSortIcons();
	$(".subCategory").hide();
}

function dockerSearch(pageNumber) {
	var filter = $('#searchBox').val();
	var dockerURL = "https://registry.hub.docker.com/search?q=" + filter;
	data.docker = "searching docker";
	enableIcon("#sortIcon",false);
	$(".dockerSearch,.multi_installDiv").hide();
	$("#Category").html("DockerHub Search for "+filter+" <span id='pageNumber'></span>");
	var sortOrder = getSortOrder();
	post({action:'search_dockerhub',filter:filter,page:pageNumber,sortOrder:sortOrder},function(result) {
		updateDisplay(result.display);
	});
}

function dockerConvert(dockerID) {
	post({action:'convert_docker',ID:dockerID},function(result) {
		myCloseAlert();
		templateURL = "/Apps/AddContainer?xmlTemplate=default:" + $.trim(result.xml);
		openNewWindow(templateURL);
	});
}

function openNewWindow(newURL) {
	var popUp = window.open(newURL,"_self");
	if ( !popUp || popUp.closed || typeof popUp == "undefined" ) {
		addBannerWarning("Popup Blocked.  CA requires popups to be enabled under certain circumstances.  You must white list your server within your browser to allow popups",true,true);
	}
}

function clearSearchBox() {
	$("#searchBox").val("");
	if ($('#searchButton').hasClass('fa-remove')) {
		$('#searchButton').toggleClass('fa-remove fa-search');
	}
}

function installPlugin(pluginURL) {
	disableSearch();
	my_openBox('/plugins/community.applications/scripts/pluginInstall.sh&arg1=install&arg2='+pluginURL,'Install Plugin',600,900,true,"refreshDisplay()");
}

function my_openBox(cmd,title,height,width,load,func) {
	// open shadowbox window (run in foreground)
	var run = cmd.split('?')[0].substr(-4)=='.php' ? cmd : '/logging.htm?cmd='+cmd+'&csrf_token=<?=$var['csrf_token']?>';
	var options = load ? {modal:true,onClose:function(){ eval(func); }} : {modal:true};
	Shadowbox.open({content:run, player:'iframe', title:title, height:height, width:width, options:options});
}

function showDesc_openBox(cmd,title,height,width,load,func) {
	// open shadowbox window (run in foreground)
	var run = cmd.split('?')[0].substr(-4)=='.php' ? cmd : '/logging.htm?cmd='+cmd+'&csrf_token=<?=$var['csrf_token']?>';
	var options = load ? {modal:false,onClose:function(){ eval(func); }} : {modal:true};
	Shadowbox.open({content:run, player:'iframe', title:title, height:height, width:width, options:options});
}

function showModeration(script,title) {
	$("#sb-nav-close").css("visisbility","visible");
	showDesc_openBox("/plugins/<?=$plugin?>/scripts/showStatistics.php?arg1="+script,title,550,900,true,false);
}

function previousApps(installed) {
	hideSortIcons();
	clearCategory();
	setPageOne();
	data.docker = "";

	clearSearchBox();
	$(".dockerSearch").hide();
	enableIcon("#sortIcon",true);

	post({action:'previous_apps',installed:installed},function(result) {
		if ( installed ) {
			$(".multi_installDiv").hide();
		} else {
			$(".multi_installDiv").show();
			clearMultiInstall();
		}
		changeSortOrder(null,null,"true");
		saveState();
	});
}

function removeApp(application, humanName) {
	disableSearch();
	swalBackground("white");
	swal({
		title: "Delete Template?",
		text: "Are you sure you want to delete <font color='red'><strong><span class='ca_italic'>"+humanName+"</span></strong></font> from the list of previously installed applications?<br><font size='0'>"+application+"</font>",
		type: "warning",
		confirmButtonText: "Yes, delete it!",
		showCancelButton: true,
		showConfirmButton: true,
		allowOutsideClick: true,
		html: true
	}, function(isConfirm) {
		if (isConfirm) {
			post({action:'remove_application',application:application}, function(result) {
				enableSearch();
				previousApps(false);
			});
		} else {
			enableSearch();
		}
	});
}

function uninstallApp(application,humanName) {
	disableSearch();
	swalBackground("white");
	swal({
		title: "Uninstall Application?",
		text: "Are you sure you want to uninstall <font color='red'><strong><span class='ca_italic'>"+humanName+"</span></strong></font>?",
		type: "warning",
		showCancelButton: true,
		showConfirmButton: true,
		confirmButtonText: "Yes, uninstall it!",
		closeOnConfirm: true,
		showLoaderOnConfirm: false,
		allowOutsideClick: true,
		html: true
	}, function(isConfirm) {
		if (isConfirm) {
			application = application.basename();
			my_openBox('/plugins/community.applications/scripts/pluginInstall.sh&arg1=remove&arg2='+application,'Uninstall Plugin',600,900,true,"postUninstallPlugin()");
		} else {
			enableSearch();
		}
	});
}

function postUninstallPlugin() {
	previousApps(true);
	enableSearch();
}

String.prototype.basename = function() {
	return this.split('/').reverse()[0];
}

function deletePrivateApp(path,name,author) {
	var displayPath = path.replace("/boot/config/plugins/","...");
	disableSearch();
	swalBackground("white");
	swal({
		title: "Remove Private Application?",
		text: "Are you sure you want to remove the private application <span class='ca_italic'><font color='red'><span class='ca_bold'>"+name+"</span></font> by <font color='red'><span class='ca_bold'>"+author+"</span></font>?<br><font size='0'>("+displayPath+")",
		type: "warning",
			showCancelButton: true,
			showConfirmButton: true,
			confirmButtonText: "Yes, remove it!",
			closeOnConfirm: false,
			showLoaderOnConfirm: true,
			allowOutsideClick: true,
			html: true
	}, function(isConfirm) {
		if ( isConfirm ) {
			swal("Removing "+name,"","info");
			getSelectedApps();
			post({action:'removePrivateApp',path:path,noSpinner:true},function(result) {
				getCategories();
				myCloseAlert();
				refreshDisplay();
				enableSearch();
			});
		} else {
			enableSearch();
		}
	});
}

function uninstallDocker(application,humanName) {
	disableSearch();
	swalBackground("white");
	swal({
		title: "Uninstall Application?",
		text: "Are you sure you want to uninstall <font color='red'><strong><span class='ca_italic'>"+humanName+"</span></strong></font>?",
		type: "warning",
		showCancelButton: true,
		showConfirmButton: true,
		confirmButtonText: "Yes, uninstall it!",
		closeOnConfirm: false,
		showLoaderOnConfirm: true,
		allowOutsideClick: true,
		html: true
	}, function( isConfirm ) {
		if ( isConfirm ) {
			myAlert("","Uninstalling "+humanName);
			post({action:'uninstall_docker',application:application,noSpinner:true},function(result) {
				enableSearch();
				previousApps(true);
			});
		} else {
			enableSearch();
		}
	});
}

function appStore() {
	data.nextpage = 0;
	data.prevpage = 0;
	initializeAppStore();
	updateContent();
	clearCategory();
	data.docker = "";
}

function initializeAppStore() {
	data.section = "AppStore";
	data.selected_category = "";
	$(".multi_installDiv").hide();
}

function installPLGupdate(filename,plgName) {
	data.plgfilename = filename;
	if ( filename == "community.applications.plg" ) {
		openBox('/plugins/<?=$plugin?>/scripts/updatePLG.sh&arg1='+filename,'Update '+plgName,600,900,true);
	} else {
		my_openBox('/plugins/<?=$plugin?>/scripts/updatePLG.sh&arg1='+filename,'Update '+plgName,600,900,true,"checkPLGupdate()");
	}
}

function checkPLGupdate() {
	var filename = data.plgfilename;
	post({action:'updatePLGstatus',filename:filename},function(result) {
		var pageNumber = data.currentpage;
		changePage(pageNumber);
	});
}

function pinApp(button,repository,name) {
	$(button).toggleClass("pinned unpinned");
	var pinned = ( $(button).hasClass("unpinned") ) ? "Click to pin this application" : "Click to unpin this application";
	$(button).tooltipster('content',pinned);
	post({action:'pinApp',repository:repository,name:name});
}

function setPageOne() {
	data.currentpage = 1;
}

function clearCategory() {
	$("#Category").html("");
}

function pinnedApps() {
	setPageOne();
	hideSortIcons();
	data.docker = "";
	clearSearchBox();
	clearCategory();
	$(".dockerSearch,.multi_installDiv").hide();
	enableIcon("#sortIcon",true);
	post({action:'pinnedApps'},function(result) {
		refreshDisplay();
		myCloseAlert();
	});
}

function displayTags(leadTemplate) {
	post({action:'displayTags',leadTemplate:leadTemplate,noSpinner:true},function(result) {
		disableSearch();
		swalBackground("white");
		swal({
			title: "Choose A Branch To Install",
			text: result.tags,
			html: true,
			type: "warning",
			showCancelButton: true,
			showConfirmButton: false,
			allowOutsideClick: true
		}, function(isConfirm) {
			if ( ! isConfirm ) {
				enableSearch();
			}
		});
	});
}

function xmlInstall(type,xml) {
	post({action:'createXML',xml:xml},function(result){
		if ( result.status == "ok" ) {
			openNewWindow("/Apps/AddContainer?xmlTemplate="+type+":"+xml);
		}
	});
}

function makePlural(string,count) {
	return ( (count > 1) || (count == 0) ) ? string + "s" : string;
}

function getSelectedApps() {
	if ( data.selected ) {
		var selected = JSON.parse(data.selected);
		var docker = selected.docker;
		var plugin = selected.plugin;
	} else {
		var selected = new Object();
		var docker = new Array();
		var plugin = new Array();
	}

	$(".ca_multiselect").each(function() {
		var name = $(this).attr("data-name");
		if ( $(this).is(':checked') ) {
			if ( $(this).attr("data-type") == "plugin" ) {
				plugin.push(name);
			} else {
				docker.push(name);
			}
		} else {
			var index = plugin.indexOf(name);
			if ( index > -1 ) {
				plugin.splice(index,1);
			}
			var index = docker.indexOf(name);
			if (index > -1 ) {
				docker.splice(index,1);
			}
		}
	});
	selected.docker = uniqueArrayElements(docker);
	selected.plugin = uniqueArrayElements(plugin);
	data.selected = JSON.stringify(selected);
	return selected;
}

function uniqueArrayElements(sourceArray) {
	var uniqueEntries = new Array();
	$.each(sourceArray, function(i, el) {
		if ($.inArray(el,uniqueEntries) === -1) {
			uniqueEntries.push(el)
		}
	});
	return uniqueEntries;
}

function enableMultiInstall() {
	var selected = getSelectedApps();
	if ( $.isEmptyObject(selected.docker) && $.isEmptyObject(selected.plugin) ) {
		$(".multi_install,.multi_installClear").attr("disabled",true);
		$(".multi_installButton").val("Install Selected Applications");
	} else {
		$(".multi_install,.multi_installClear").attr("disabled",false);
		var count = selected.plugin.length + selected.docker.length;
		$(".multi_installButton").val("Install "+(selected.plugin.length+selected.docker.length)+" Selected "+makePlural("Application",count));
	}
	getSelectedApps();
}

function clearMultiInstall() {
	data.selected = "";
	$(".ca_multiselect").each(function() {
		$(this).prop("checked",false);
	});
	$(".multi_install,.multi_installClear").attr("disabled",true);
	enableMultiInstall();
}

function installMulti() {
	var docker = new Array();
	var plugin = "";
	var pluginCount = 0;
	var dockerCount = 0;
	var selected = getSelectedApps();
	var cookieWarning = "";

	$.each(selected.plugin,function(i,el) {
		plugin += el + "*";
		pluginCount += 1;
	});
	$.each(selected.docker,function(i,el) {
		docker.push(el);
		dockerCount += 1;
	});
	disableSearch();
	if ( ! cookiesEnabled() && dockerCount && pluginCount ) {
		pluginCount = 0;
		cookieWarning = "<br>Cookies not enabled.  Plugins must be separately installed from docker applications";
	}
	if ( (dockerCount + pluginCount) > 1 ) {
		var buttonText = "Yes, install them";
	} else {
		var buttonText = "Yes, install it";
	}
	swalBackground("white");
	console.log(dockerCount);
	var text = "Are you sure you want to install ";
	text = text.concat(dockerCount ? dockerCount+" docker "+makePlural("application",dockerCount) : "");
	text = text.concat(dockerCount && pluginCount ? " and " : "");
	text = text.concat(pluginCount ? pluginCount+makePlural(" plugin",pluginCount) : "");
	text = text.concat("?");
	text = text.concat(dockerCount ? "<br><span class='ca_italic'>Docker applications will be installed utilizing the most recently saved template with no user input on your part</span>" : "");
	text = text.concat(cookieWarning ? "<br><font color='red'>"+cookieWarning+"</font>" : "");
	swal({
		title: "Install "+makePlural("Application",dockerCount+pluginCount)+"?",
		text: text,
		type: "info",
		showCancelButton: true,
		showConfirmButton: true,
		confirmButtonText: buttonText,
		closeOnConfirm: false,
		showLoaderOnConfirm: true,
		allowOutsideClick: true,
		html: true
	}, function( isConfirm ) {
		if ( isConfirm ) {
			myCloseAlert();
			if ( docker.length && plugin.length ) {
				$.cookie("ca_plugininstallpending",plugin);
			}
			if ( docker.length ) {
				$("#sb-nav-close").css("visibility","hidden"); // Because docker install cannot be aborted so why allow window to close
				openBox('/plugins/<?=$plugin?>/scripts/installMulti.php?plugin='+plugin+'&docker='+docker,'Install Docker '+makePlural("Application",dockerCount),600,1100,true);
			} else {
				openBox('/plugins/<?=$plugin?>/scripts/installMultiPlugin.sh&arg1='+plugin,'Install Plugin '+makePlural("Application",pluginCount),600,900,true);
				enableSearch();
			}
		} else {
			enableSearch();
		}
	});
}

function updateDisplay(data) {
	$("#templates_content").html(data);
	setToolTip();
	enableSearch();
	$('img').on("error",function() {
		$(this).attr('src',"/plugins/dynamix.docker.manager/images/question.png");
	});
	saveState();
	myCloseAlert();
}


function saveState() {
	if ( ! dockerSearchFlag ) {
		console.log("Save State");
		$.cookie("ca_categoryText",$("#Category").html());
		$.cookie("ca_data",JSON.stringify(data));
		$.cookie("ca_dockerSearchFlag",dockerSearchFlag);
		$.cookie("ca_installMulti",$(".multi_installDiv").is(":visible"));
		var selectedMenu = $(".selectedMenu").data("category");
		if ( ! selectedMenu ) {
			selectedMenu = "";
		}
		$.cookie("ca_selectedMenu",selectedMenu);
		$.cookie("ca_sortIcon",isIconEnabled("#sortIcon"));

		$(".sortIcons").each(function() {
			if ( isIconEnabled(this) ) {
				$.cookie("ca_sortButton",$(this).data("sort"));
			}
		});
	}
}

function restoreState() {
	swalBackground("transparent");

	console.log("Restore State");
	$("#Category").html($.cookie("ca_categoryText"));
	if ( $.cookie("ca_installMulti") == "true" ) {
		$(".multi_installDiv").show();
	} else {
		$(".multi_installDiv").hide();
	}
	data = JSON.parse($.cookie("ca_data"));
	dockerSearchFlag = $.cookie("ca_dockerSearchFlag");
	restoreStateMenu = $.cookie("ca_selectedMenu");

	var ca_sortIcon = $.cookie("ca_sortIcon");
	enableIcon("#sortIcon",ca_sortIcon);
	$(".sortIcons").each(function() {
		$(this).removeClass("enabledIcon");
	});
	if ( ! ca_sortIcon || ca_sortIcon == "false" ) {
		var selectedSort = "noSort";
		var sortIcon = "";
	} else {
		var selectedSort = $.cookie("ca_sortButton");
		var sortIcon = $.find(".sortIcons[data-sort='"+selectedSort+"']");
		$(sortIcon).addClass("enabledIcon");
		var classList = $(sortIcon).attr('class').split(/\s+/);
	}

	$.each(classList, function(index, item) {
		if ( item.startsWith("fa-") ) {
			$("#sortIcon").html("&nbsp;<span class="+item+"></span>");
		}
	});
	populateAutoComplete();
	getCategories();
}

function disableSearch() {
	$("#searchBox").prop("disabled",true);
}

function enableSearch() {
	$("#searchBox").prop("disabled",false);
}

function evaluateBoolean(str) {
	regex=/^\s*(true|1|on)\s*$/i
	return regex.test(str);
}

function cookiesEnabled() {
	return evaluateBoolean(navigator.cookieEnabled);
}

function showCredits() {
	$(".multi_installDiv,.dockerSearch").hide();
	clearCategory(); clearSearchBox();
	var credits = $('#caCredits').html();
	updateDisplay(credits);
}

function showStatistics() {
	$(".multi_installDiv,.dockerSearch").hide();
	clearCategory(); clearSearchBox();
	post({action:'statistics'},function(result) {
		updateDisplay(result.statistics);
	});
}

function caChangeLog() {
	$(".multi_installDiv,.dockerSearch").hide();
	clearCategory(); clearSearchBox();
	post({action:'caChangeLog'},function(result) {
		updateDisplay(result.changelog);
	});
}

function scrollToTop() {
	$('html,body').animate({scrollTop:0},0);
}



function addDockerWarning(enableDisable) {
	if (enableDisable) {
		if ( dockerWarningAdded === false) {
			dockerWarningAdded = addBannerWarning('Docker Service Not Enabled - Only Plugins Available To Be Installed Or Managed');
		}
	} else {
		if ( dockerWarningAdded !== false ) {
			removeBannerWarning(dockerWarningAdded);
			dockerWarningAdded = false;
		}
	}
}

function post(options,callback) {
	if ( typeof options === "function" ) {
		callback = options;
	} else {
		console.time(options.action);
		var msg = postCount > 0 ? "Embedded Post: " : "Post: ";
		console.log(msg+JSON.stringify(options));
	}

	if ( postCount == 0 && ! options.noSpinner ) {
		mySpinner();
	}
	postCount++;
	console.log("Post Count: "+postCount);
	if ( typeof callback === "function" ) {
		$.post(URL,options,function(retval){
			try {
				var result = JSON.parse(retval);
				if (result.error) {
					alert(result.error);
				}
			} catch(e) {
				alert("Error from POST call "+options.action+".  "+stripTags(retval));
				myCloseAlert();
				var result = retval;
			}
			console.groupCollapsed("Result "+options.action);
			console.timeEnd(options.action);
			console.log(result);
			console.groupEnd();
			eval(callback(result));
			if (result.script) {
				try {
					eval(result.script);
				} catch(e) {
					alert("Could not execute Script "+e);
				}
			}
			postCount--;
			if (postCount < 0) postCount = 0;
			if ( postCount == 0 && ! options.noSpinner) {
				myCloseSpinner();
			}
		});
	} else {
		$.post(URL,options);
		postCount--;
		if ( postCount < 0 ) postCount = 0;
		if ( postCount == 0) {
			myCloseSpinner();
		}
	}
<? if ( ! $unRaid68 ):?>	// unRaid68 requires cookies, so no point in checking for them
	if ( ! cookiesEnabled() ) {
		if ( cookieWarning === false) {
			cookieWarning = addBannerWarning("Community Applications works best when cookies are enabled in your browser.  Certain features may not be available.");
			console.log("cookie warning:"+cookieWarning);
			console.log("warning added");
		}
	} else {
		if ( cookieWarning !== false ) {
			removeBannerWarning(cookieWarning);
			cookieWarning = false;
			console.log("warning removed");
		}
	}
<?endif;?>
}

function getCategories() {
	post({action:'get_categories'},function(result) {
		$("#category_list").html(result.categories);
		if ( restoreStateMenu ) {
			console.log(restoreStateMenu);
			if ( restoreStateMenu && ! evaluateBoolean(data.searchFlag) ) {
				var menuItem = $.find(".caMenuItem[data-category='"+restoreStateMenu+"']");
				$(".caMenuItem").each(function(){
					$(this).removeClass("selectedMenu");
				});
				$(menuItem).addClass("selectedMenu");
				$(menuItem).parent().show();
				$(menuItem).next().show();
				restoreStateMenu = false;
			}
		}
	});
}

function feedWarning(currentServer) {
	if ( currentServer != "Primary Server" ) {
		if ( !backupServerWarning ) {
			backupServerWarning = addBannerWarning("Backup Server Active.  Some icons may not appear, and plugin installations may be affected",true,true);
		} else {
			removeBannerWarning(backupServerWarning);
			backupServerWarning = false;
		}
	} else if ( backupServerWarning ) {
		removeBannerWarning(backupServerWarning);
		backupServerWarning = false;
	}
}

</script>

> <i class='fa fa-sort enabledIcon' aria-hidden='true' style='font-size:2rem;'></i> - This chooses how to sort the results<br><br>
> <i class='fa fa-download' aria-hidden='true' style='font-size:2rem;'></i> <i class='fa fa-edit' aria-hidden='true' style='font-size:2rem;'></i> - These icons respectively will <span class='ca_bold'>Install or Edit</span> an application<br>
> <i class='fa fa-globe' aria-hidden='true' style='font-size:2rem;'></i> <i class='fa fa-cog' aria-hidden='true' style='font-size:2rem;'></i> - Clicking these icons will take you to an application's GUI or settings<br>
> <span class='ca_fa-support' style='font-size:2rem;'></span> This will take you to the appropriate support thread for an application<br>
> <span class='ca_fa-project' style='font-size:2rem;'></span> This will take you to the project page for an application<br>
> <i class='fa fa-window-close' aria-hidden='true' style='font-size:2rem;color:maroon;'></i> - Clicking this icon will uninstall the application or delete it from the lists depending upon your current section<br>
> <span class='unpinned'> </span><span class='pinned'></span> Clicking these icons will pin / unpin an application for later viewer (from the Pinned Apps section)<br>
> <i class='fa fa-info-circle' aria-hidden='true' style='font-size:2rem;'></i> Clicking this will display more information about the application.  NOTE: You can also click on the application's icon to display more information.<br>
> <i class='fa fa-exclamation-triangle' aria-hidden='true' style='font-size:2rem;'></i> Clicking this will display any warnings or extra comments about the application<br>
> <center>For support for this plugin, visit <a title='click for help' href="https://lime-technology.com/forums/topic/38582-plug-in-community-applications/" target="_blank">HERE</a></center>
> <center><a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7M7CBCVU732XG' target='_blank'><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a></center>

<?include "/usr/local/emhttp/plugins/$plugin/skins/Narrow/skin.html"?>